@charset 'utf-8';

@font-face {
	font-family: 'Crimson_Text';
	src: url('./font/Crimson_Text/CrimsonText-Bold.ttf') format('truetype');
	src: url('./font/Crimson_Text/CrimsonText-Italic.ttf') format('truetype');
	src: url('./font/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto_Sans';
	src: url('./font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf') format('truetype');
	src: url('./font/Noto_Sans_KR/static/NotoSansKR-Bold.ttf') format('truetype');
	src: url('./font/Noto_Sans_KR/static/NotoSansKR-Medium.ttf') format('truetype');
	src: url('./font/Noto_Sans_KR/static/NotoSansKR-Regular.ttf') format('truetype');
}


html {
	/* font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif; */
	line-height: 1.2;
	word-wrap: break-word;
	
}
*{
	box-sizing: border-box;
    font-family: Arial, sans-serif;
	text-decoration: none;
 }
body {
	-webkit-font-smoothing: antialiased;



}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
} */
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}